<div class="row">
  <div class="col-sm-12">
    <form name="entryForm">
      <div class="form-group">
        <label for="rundate">Date</label>
        <input type="date" class="form-control" id="rundate" ng-model="rundate" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="section">Section</label>
        <input type="text" class="form-control" id="section" ng-model="section" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="river">River</label>
        <input type="text" class="form-control" id="river" ng-model="river" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="days">Days</label>
        <input type="text" class="form-control" id="days" ng-model="days" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="runs">Runs</label>
        <input type="text" class="form-control" id="numruns" ng-model="numruns" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="miles">Miles</label>
        <input type="text" class="form-control" id="miles" ng-model="miles" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="vertical">Vertical</label>
        <input type="text" class="form-control" id="vertical" ng-model="vertical" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="flow">Flow</label>
        <input type="text" class="form-control" id="flow" ng-model="flow" placeholder="" ng-required="true">
      </div>
      <div class="form-group">
        <label for="notes">Notes</label>
          <textarea class="form-control" rows="3" id="notes" ng-model="notes"></textarea>
      </div>

      <button type="submit" class="btn btn-default" ng-click="entryForm.$valid && addRun();">Submit</button>
    </form>
  </div>
</div>
